* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #f3f3f3;
    font-family: 'Roboto', sans-serif;
}

.flex-container {
    width: 2000px;
    height: 1000px;
    background-color: whitesmoke;
    border: 10px solid lightgrey;
}

.user {

    width: 100%;
    background-color: #fff;
    border: 2px solid #999;
    margin-bottom: 20px;
    border-radius: 5px;
    font-size: 1.2rem;
    overflow: hidden;
}

.top {
    background-color: #17a2b8;
    height: 125px;
    margin-bottom: 70px;
}

.middle {
    padding: 20px;
}

.middle h1,
.middle h2,
.middle h3,
.middle p {
    margin: 20px 0px;
}

.user-i {
    border-radius: 50%;
    background-color: #fff;
    height: 190px;
    padding: 5px;
    margin-top: 20px;
    margin-left: 20px;
}

.icon {
    height: 20px;
}

a {
    color: #3a81e6;
}